django==1.11.4
tweepy==3.5.0
slackweb==1.0.5
beautifulsoup4==4.6.0
scrapy==1.4.0
nltk==3.2.4
psycopg2
datefinder==0.6.1
scrapy-fake-useragent==1.1.0
stanford-corenlp==3.7.1
praw==5.1.0
django-multiselectfield==0.1.8
